.sign {
    margin: auto;
    margin-top: 60px;
    padding: 0;
    width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
}

@media screen and (max-width: 590px) {
    .sign {
        margin-top: 40px;
        width: 260px;
    }
}