.footer__copyright {
    font-size: 18px;
    line-height: 1.22;
    font-style: normal;
    font-weight: 400;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1.21;
    }
}