.profile__user-name {
    margin: 0;
    font-size: normal;
    font-size: 42px;
    line-height: 1.14;
    font-weight: 500;
    color: #fff;
    max-width: 294px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 425px) {
    .profile__user-name {
        max-width: 189px;
        font-size: 27px;
        line-height: 1.22;    
    }
}