.place__button-delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity .3 ease;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.place__button-delete:hover {
    opacity: .6;
}